//Colors

$colorSecondary : #0DA9BA;
$colorFontPrimary : #0A3163;

$font_color : #0A3163;
$bace_color : #174782;
$menu_color : #325A8B; 

$orange_color : #FF8617;
$sky_color : #0071C2; 

$border_color : #C8E4F9;

// Fonts

$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
