.archive-header {
    padding-top: 400px;
    padding-bottom: 20px;
    min-height: auto;
    background-image: url('../images/theme/news/header_bg.jpg');
    background-size: inherit;
    background-position-y: 0px;
}

.archive-header {
    &__inner {
        padding: 0 64px;
        
    }

    &__breadcrumb {
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 30px;
    }


}
@media(min-width: 1200px) {
    .archive-header {

        &__head {
            padding: 0 65px;
        }
    }   
}

.archive-page {
    &__inner {
        padding:0 80px;
        overflow: hidden;
    }
}

.archive-tabs {

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__list-item {
        margin-right: 10px;
    }
}

.archive-tab {
    @include font_medium;
    font-size: 2rem;
    padding: 15px 30px 16px;
    color: #76AED7;
    background-color: #ececec;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease,
                background-color .5s ease;
    
    &:hover {
        background-color: $orange_color;
        color: white;
    }
    
    &_active {
        color: white;
        background-color: $orange_color;
    }
}

.article-item {
    height: 364px;
    background: #E5F4FF;
    border-radius: 6px;
    margin-bottom: 50px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &__inner {
        display: flex;

    }

    &__image-block {
        max-width: 626px;
        height: 364px;
        flex: 0 0 626px;
        overflow: hidden;
        position: relative;

    }

    &__image {
        position: relative;
        z-index: 12;
        width: 100%;
        height: 100%;
        object-fit: cover;    
        transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1),
                    transform .8s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }

    &__body {
        padding: 40px 68px;
        display: flex;
        flex-direction: column;
    }

    &__date {
        color: #A1A3A7;
        font-size: 1.6rem;
        display: inline-block;
        margin-bottom: 27px;
    }

    &__title {
        color: $bace_color;
        font-size: 1.8rem;
        line-height: 1.4;
        @include font_bold;
        margin-bottom: 20px;
        max-height: 75px;
        overflow: hidden;
    }

    &__title-link {
        color: inherit;
    }

    &__expert {
        color: $bace_color;
        max-height: 90px;
        overflow: hidden;
        @include font_medium;
    }

    &__readmore {
        display: block;
        margin-top: auto;
        font-size: 1.6rem;
        color: $colorSecondary;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: url('../images/icons/readmore_arrow.svg');
            margin-left: 15px;
            transform: translateY(2px);
            display: inline-block;
        }
    }
}

.archive-list__pagination {
    margin: 100px 0;
}

/* Single Article | Post */
.post-breadcrumb {
    // border-top: 2px solid #0A3163;
}
.post__breadcrumb {
    margin: 0 0 30px 0;
    padding: 20px 0;
}

.post__header {
    // max-width: 756px;
    // margin: 0 auto;
    
}

.post-header {
    margin-bottom: 40px;

    &__media {
        position: relative;  
        padding-top: 50%;
        overflow: hidden;

        &::before {
            content: '';
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background: linear-gradient(90deg, #111632 0%, #061f3f 50%, #111632 100%);      
        }

        img {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__media-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__meta {
        margin-bottom: 20px;
        color: white;
        font-size: 1.8rem;
        font-weight: $regular;
        letter-spacing: 0.04em;

    }

    &__title {
        margin-top: 30px;
        font-size: 3.6rem;
        line-height: 1.2;
        margin-bottom: 20px;
        padding: 0 40px;
        word-wrap: break-word;
        color: white;
        text-align: center;
        letter-spacing: 0.04em;
    }
}

.post__inner {
    display:flex
}

.post__main {
    max-width: 68.5%;
    margin-right: 30px;
    flex: 0 0 68.5%;
}

.post__sidebar {
    position: sticky;
    top: 120px;
    background: #C7E2F8;
    border-radius: 6px;
    flex: 1;
    height: 100%;
    padding: 30px 20px;
}

.post__content {
    color: $bace_color;

}

.post {
    
    &__meta-date {
        color: #A1A3A7;
    }
}

.post__news {
    margin-bottom: 100px;
}

.post-share {
    margin-top: 20px;
    padding: 20px 0;
    text-align: right;
}

.similar-news {
    padding: 0 0 100px 0;

    .section-news__inner {
        padding: 0 40px;
    }
    
    .swiper-container {
        // margin-bottom: 60px;
    }

    .swiper-wrapper {
        box-sizing: border-box;
    }

    .article-card {
        margin: 0 auto;
    }

    .news-slider__pagination {
        margin-top: 20px;
    }

    &__button {
        max-width: 220px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }
}

.sidebar-w {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
    &__title {
        font-size: 2.4rem;
        font-weight: $medium;
        margin-bottom: 10px;
    }
}

.widget-cat {

    &__list {
        padding: 0;
        margin: 0 0 0 16px;
        list-style: none;
    }

    &__item {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &::before {
            content: '';
            height: 8px;
            width: 8px;
            background: #0DA9BA;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}

.widget-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    &__item {
        flex: 0 1 auto;
        text-transform: uppercase;
        font-weight: $medium;
        display: block;
        background: white;
        border-radius: 3px;
        margin:0 5px 10px 5px;
        transition: all 0.3s ease-in-out;
        padding: 4px 10px;
        font-size: 1rem;

        &:active,
        &:focus {
            color: $font_color;
        }

        &:hover {
            color: white;
            background: $colorSecondary;
        }
    }
}

.tab-content {
    margin-bottom: 60px;
}